html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

@font-face {
  font-family: 'CapyFont';
  src: url('font.ttf') format('truetype');
}

.customFont {
  font-family: 'CapyFont', sans-serif;
}

.helveticaText {
  font-family: Helvetica, sans-serif;
}
